<div class="editar-pedido" *ngIf="pedido">
  <h2>Editar Pedido #{{ pedido.id }}</h2>
  <form>
    <div class="form-group">
      <label for="nomeCliente">Usuário:</label>
      <input
        type="text"
        id="nomeCliente"
        [(ngModel)]="pedido.nomeCliente"
        name="nomeCliente"
        required
      />
    </div>

    <div class="form-group">
      <label for="emailCliente">Email do Cliente:</label>
      <input
        type="email"
        id="emailCliente"
        [(ngModel)]="pedido.emailCliente"
        name="emailCliente"
        required
      />
    </div>

    <div class="form-group">
      <label>Data da Criação:</label>
      <p>{{ pedido.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>

    <div class="form-group">
      <label>Pago:</label>
      <p>{{ pedido.pago ? 'Sim' : 'Não' }}</p>
    </div>

    <h3>Itens do Pedido:</h3>
    <ul>
      <li *ngIf="itemPedido === null">Nenhum item encontrado.</li>
      <li >
        <div class="item-info">
          <label for="nomeProduto">Produto:</label>
          <input
            type="text"
            id="nomeProduto"
            [(ngModel)]="itemPedido.produto.nomeProduto"
            name="nomeProduto"
            required
          />

          <label for="quantidade">Quantidade:</label>
          <input
            type="number"
            id="quantidade"
            [(ngModel)]="itemPedido.quantidade"
            name="quantidade"
            min="1"
            required
          />
        </div>
      </li>
    </ul>

    <button class="btn-salvar" (click)="salvarPedido()">Salvar Pedido</button>
    <button class="btn-voltar" (click)="goBack()">Voltar</button>
  </form>
</div>
