<div class="itens-pedido" *ngIf="pedidos">
  <h2>Detalhes do Pedido #{{ pedidos.id }}</h2>
  <p>Usuário: {{ pedidos.nomeCliente }}</p>
  <p>Email do Cliente: {{ pedidos.emailCliente }}</p>
  <p>Data da Criação: {{ pedidos.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
  <p>Pago: {{ pedidos.pago ? 'Sim' : 'Não' }}</p>

  <h3>Itens do Pedido:</h3>
  <ul>
    <li *ngIf="itensPedido === null">Nenhum item encontrado.</li>
    <li>
      Produto: {{ itensPedido.produto.nomeProduto }} - Quantidade: {{ itensPedido.quantidade }} - Valor: {{ itensPedido.produto.valor }}
    </li>
  </ul>

  <button (click)="goBack()">Voltar</button>
</div>
