<div class="itens-pedido" *ngIf="pedido">
  <h2>Detalhes do Pedido #{{ pedido.id }}</h2>
  <p>Usuário: {{ pedido.nomeCliente }}</p>
  <p>Email do Cliente: {{ pedido.emailCliente }}</p>
  <p>Data da Criação: {{ pedido.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
  <p>Pago: {{ pedido.pago ? 'Sim' : 'Não' }}</p>

  <h3>Itens do Pedido:</h3>
  <ul>
    <li *ngIf="itemPedido === null">Nenhum item encontrado.</li>
    <li>
      Produto: {{ itemPedido.produto.nomeProduto }} - Quantidade: {{ itemPedido.quantidade }} - Valor: {{ itemPedido.produto.valor }}
    </li>
  </ul>

  <button (click)="goBack()">Voltar</button>
</div>
