<div class="pedido-list">
  <button (click)="produtosPagina()">Produtos</button>

  <h2>Lista de Pedidos</h2>
    <ul>
      <li *ngFor="let pedido of pedidos">
        <h3>Pedido #{{ pedido.id }} - {{ pedido.nomeCliente }}</h3>
        <button (click)="pedidoDetalhes(pedido.id)">Ver detalhes</button>
      </li>
    </ul>

  <ul>
    <li *ngFor="let pedido of pedidos">
      <h3>Pedido #{{ pedido.id }} - {{ pedido.nomeCliente }}</h3>
      <button (click)="pedidoDetalhes(pedido.id)">Ver detalhes</button>
    </li>
  </ul>
</div>
