<div class="cervejas-list">
  <h2>Lista de Cervejas</h2>

  <form [formGroup]="formulario" (ngSubmit)="criarPedido()">
    <div>
      <label for="nomeCliente">Nome do Cliente:</label>
      <input type="text" id="nomeCliente" formControlName="nomeCliente" required />
    </div>

    <div>
      <label for="emailCliente">Email do Cliente:</label>
      <input type="email" id="emailCliente" formControlName="emailCliente" required />
    </div>

    <ul>
      <li *ngFor="let cerveja of cervejas">
        <div class="cerveja-info"></div>
        <h3>{{ cerveja.nomeProduto }}</h3>
        <p>Preço: R$ {{ cerveja.valor | number: '1.2-2' }}</p>

        <label for="quantidade-{{ cerveja.nomeProduto }}">Quantidade:</label>
        <input type="number" [formControlName]="cerveja.nomeProduto" min="0" max="100" required />
        <button type="button" (click)="incrementarQuantidade(cerveja.nomeProduto)">Adicionar</button>
      </li>
    </ul>

    <button type="submit" [disabled]="!formulario.valid">Fazer pedido</button>
  </form>
  <button (click)="pedidosPagina()">Voltar</button>
</div>
