.cervejas-list {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.cervejas-list h2 {
  text-align: center;
  color: #333;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Organiza itens em coluna */
  background-color: #fff;
}

ul li h3 {
  margin: 0;
  color: #007bff;
}

ul li p {
  margin: 5px 0; /* Espaçamento adequado */
  color: #555;
}

ul li .quantidade-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaça quantidade e botão */
}

button.fazer-pedido {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px; /* Espaçamento à esquerda do botão */
}

button.fazer-pedido:hover {
  background-color: #218838;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto; /* Espaçamento adequado para o botão de fazer pedido */
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
