body {
  background-color: #f5deb3; /* Cor de cerveja clara */
  color: #8b4513; /* Cor de cerveja escura */
}

button {
  background-color: #d2b48c; /* Cor de cerveja */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c19a6b; /* Cor de cerveja mais escura */
}
